In [ ]:
CREATE SCHEMA [Account]

In [ ]:
CREATE TABLE [Account].[Balance]
(
    [CustomerID] INT NOT NULL PRIMARY KEY CLUSTERED,
    [LastName] VARCHAR (50) NOT NULL,
    [FirstName] VARCHAR (50) NOT NULL,
    [Balance] DECIMAL (10,2) NOT NULL
)
WITH 
(
 LEDGER = ON,
 SYSTEM_VERSIONING = ON
);

In [ ]:
SELECT * 
      ,[ledger_start_transaction_id]
      ,[ledger_end_transaction_id]
      ,[ledger_start_sequence_number]
      ,[ledger_end_sequence_number]
FROM [Account].[Balance]

In [ ]:
INSERT INTO [Account].[Balance]
VALUES (1, 'McMurray', 'Greg', 100)

In [ ]:
INSERT INTO [Account].[Balance]
VALUES (2, 'Miller', 'Ben', 1000)

In [ ]:
INSERT INTO [Account].[Balance]
VALUES (3, 'Belt', 'TJay', 10)